.main_container_proyects{
    position: relative;
    background-color: #121f24;
    top: 700px;
    width: 100%;
    margin: auto;
    color: azure;
}

.proyects_title{
    text-align: center;
    font-family:serif;
}

.cntainer_proyects{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card_container_proyect{
    border-radius: 15px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 70px;
    cursor: pointer;
    transition: ease-in-out .5s;
    background-color: rgb(27, 27, 27);
}

.img_card_proyect{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit:contain;
    z-index: 1;
    transition: ease 0.3s;
}

.name_card_proyect{
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 4vw;
    z-index: 0;
}

.img_card_proyect:hover{
    opacity: 0.2;
    transition: ease 1s;
}

.icon_row_pointer{
    cursor: pointer;
    position: relative;
    
}

@media (max-width: 800px){
    .card_container_proyect{
        width: 90%;
        justify-content: space-evenly;
        margin: 150px 0px 180px 0px;    
    }
    .icon_row_pointer{
        position: relative;
        bottom: 15px;
    }
}

