.container_gracias{
    position: relative;
    width: 100%;
    top: 800px;
    margin: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_gracias{
    height: auto;
    width: auto;
}

.txt_gracias{
    color: rgb(3, 53, 53);
    text-align: center;
    -webkit-text-stroke: 1px #8a9da7;
}

@media (max-width: 800px){
    .img_gracias{
        width: 100%;
    }
}