.contenedor_nav{
    background-color: #0e1618;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    z-index: 100;
    color: #d9e2e5;
}

#name{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    color: #c9cbcc;
    margin-left: 2vw;
    margin-right: 2vw;
    -webkit-text-stroke: 1px #7a7c7d;
}

.info{
    position: relative;
    bottom: 5px;
    margin-right: 10px;
    color: #d9e2e5;
}

.info_icons{
    margin-right: 5px;
}

.icons_tec{
    width: 25px;
    height: 25px;
    margin-right: 2vw;
    display: none;
}


@media (max-width: 800px){
    .info{
        display: none;
    }
    .info_icons{
        display: none;
    }
    .icons_tec{
        display:initial;
    }
}